 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <title>HOTEL RESERVATION PREDICTION ❤️</title>
 </head>
 <body>

    <div class="container">
        <h2>HOTEL RESERVATION PREDICTION</h2>
        <form method="POST">
            <div class="form-group">
                <label for="lead_time">Lead Time</label>
                <input type="number" id="lead_time" name="lead_time" required>
            </div>
            <div class="form-group">
                <label for="no_of_special_request">No Of Special Request</label>
                <input type="number" id="no_of_special_request" name="no_of_special_request" required>
            </div>
            <div class="form-group">
                <label for="avg_price_per_room">Average Price Per Room</label>
                <input type="number" id="avg_price_per_room" name="avg_price_per_room" required>
            </div>
            <div class="form-group">
                <label for="arrival_month">Arrival Month</label>
                <select id="arrival_month" name="arrival_month" required>
                    <option value="1">January</option>
                    <option value="2">Febuary</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">Sepetmeber</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>    
            </div>

             <div class="form-group">
                <label for="arrival_date">Arrival Date</label>
                <input type="number" id="arrival_date" name="arrival_date" required>
            </div>

               <div class="form-group">
                <label for="market_segment_type">Segment Type</label>
                <select id="market_segment_type" name="market_segment_type" required>
                    <option value="0">Aviation</option>
                    <option value="1">Complimentary</option>
                    <option value="2">Corporate</option>
                    <option value="3">Offline</option>
                    <option value="4">Online</option>
                </select>    
            </div>
              <div class="form-group">
                <label for="no_of_week_nights">No Of Week Nights</label>
                <input type="number" id="no_of_week_nights" name="no_of_week_nights" required>
            </div>
              <div class="form-group">
                <label for="no_of_weekend_nights">No Of Weekend Nights</label>
                <input type="number" id="no_of_weekend_nights" name="no_of_weekend_nights" required>
            </div>

             <div class="form-group">
                <label for="type_of_meal_plan">Type Of Meal Plan</label>
                <select id="type_of_meal_plan" name="type_of_meal_plan" required>
                    <option value="0">Meal Plan 1</option>
                    <option value="1">Meal Plan 2</option>
                    <option value="2">Meal Plan 3</option>
                    <option value="3">Not Selected</option>
                </select>    
            </div>
             <div class="form-group">
                <label for="room_type_reserved">Type Of Room</label>
                <select id="room_type_reserved" name="room_type_reserved" required>
                    <option value="0">Room Type 1</option>
                    <option value="1">Room Type 2</option>
                    <option value="2">Room Type 3</option>
                    <option value="3">Room Type 4</option>
                    <option value="4">Room Type 5</option>
                    <option value="5">Room Type 6</option>
                    <option value="6">Room Type 7</option>
                </select>    
            </div>
            <button type="submit">Predict</button>
        </form>
        {% if prediction is not none %}
        <div class="result">
            {% if prediction == 0 %}
            <p>The Customer is going to cancel his reservation</p>
            {% elif prediction == 1 %}
            <p>The Customer is not going to cancel his reservation</p>
                    {% endif %}
        </div>
        {% endif %}
    </div>
    
 </body>
 </html>